/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 190px;
    padding-top: 0px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 15px 30px 16px 31px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url("../portfolio-resources/images/header_bg.png"), url(../portfolio-resources/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
    padding-top: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.banner {
    margin-left: 40px;
    padding: 0px 0px 0px 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting {
    font-size: 45px;
    margin-bottom: 0;
}

.banner-title {
    margin-top: 5px;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 0px;
}

.banner-content {
    max-width: 500px;
}

.banner-msg {
    margin-top: 20px;
    font-size: 18px;
}

.profile-pic {
    width: 500px;
    height: 600px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#whatIdo {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 40px;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-column-title {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-bottom: 20px; */
}

.resume-item-title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}

.resume-item-institute {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.resume-item-description {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.resume-container hr {
    margin: 30px 0px;
}

.download-cv {
    text-align: center;
}

footer {
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 180px;
    gap: 120px;
    max-width: 1600px;
    margin: 0 auto;
}

.footer-column {
    width: 50%;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 20px;
    padding: 18px 35px;
    color: var(--Dark-03, #757575);
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: none;
    width: 100%;

    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

textarea {
    resize: none;
}

.social-links a {
    margin-right: 30px;
    margin-left: -8px;
}

.footer-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-description {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}